<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Soundslike - Link</title>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/soundslike.css" rel="stylesheet">	
	</head>
	<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
 			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Soundslike</a>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav pull-right">
			<form class="navbar-form navbar-right" action="/results" method="post">
            		<div class="form-group">
              			<input type="text" placeholder="Search" class="form-control" id="srch" name="srch">
            		</div>
            		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          		</form>
			<li><a href="/addartist">Add</a></li>
			<li><a href="/auth/google">Sign In</a></li>
		</ul>
	</div>
	</div>
	</div>
 	
	<div clas="center-container"> 
	<div class="absolute-center-link">
		<div class="link-item-top">
			<div class="link-artist-header-container">
			<div class="link-top-artist-image-container">
				<img class='album-profile-image' src='<%=sacrifice.picture%>' >
			</div>			
			<div class="link-artist-info-text">
				<span class="album-header-text-size"><%= sacrifice.name %></span></br>
				<span class="album-header-text-size-artist"><%= sacrifice.parent %></span></br>
			</div>
			</div>
		</div>



		<div class="input-group">
			<form role="search" action="/api/db/content/link/<%= lvl %>" method="post" >	
	 			<div class="input-group soundslike-home-searchbar">
					<span class="input-group-addon">Soundslike</span>
		    			<input type="text" class="form-control" placeholder="this albums sounds like that album" name="key2" id="key2">
					<input type="hidden" name="key1" id="key1" value="<%= sacrifice.name %>">
				</div>
		    		<div class="input-group-btn">
		        		<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		    		</div>	
			</form>		
        	</div>
		<div class="link-item-bottom">
			<% for(var i=0; i<soundslikelist.length; i++) { %>
				<div class="link-artist-header-container">		
					<div class="link-artist-info-text">
						<span class="album-header-text-size"><%= soundslikelist[i].name %></span><br>
						<span class="album-header-text-size-artist"><%= soundslikelist[i].parent %></span><br>

						<form action="/api/db/content/link/add/<%= lvl %>" method="post">	
							<input type="hidden" name="key1" id="key1" value="<%= sacrifice.name %>">	
							<input type="hidden" name="key2" id="key2" value="<%= soundslikelist[i].name %>">		
							<button class="btn btn-soundslike" type="submit">Link</button>
						</form>
					</div>
					<div class="link-bottom-artist-image-container">
						<img class="album-profile-image" src=<%=soundslikelist[i].picture%> 
					</div>	
				</div>
			<% } %>
		</div>
	</div>
	</div>
	</div>

	<script type="text/javascript" src="/js/ejs_production.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
