<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Soundslike - Search results</title>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/soundslike.css" rel="stylesheet">
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
 			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Soundslike</a>
	</div>
	<div class="collapse navbar-collapse">

		<form class="navbar-form navbar-right" action="/results" method="post">
            		<div class="form-group">
              			<input type="text" placeholder="Search" class="form-control" id="srch" name="srch">
            		</div>
            		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          	</form>

		<ul class="nav navbar-nav pull-right">
			<li><a href="/addartist">Add</a></li>
			<li><a href="/auth/google">
				<% if (typeof login !== "undefined") { %>
					<%= login %>
				<% } else { %>
					<%= "Sign in" %>
				<%}%></a></li>
		</ul>
	</div>
	</div>
	</div>

	<div clas=""> 
	<div class="">

<!-- begin ARTISTS -->
<div class="container ">
    <div class="col-md-12">
        <h4>Artists</h4>
        <div class="well">
            <div id="carousel-artists" class="carousel slide" data-interval="false">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                   		<% var spinner_artist=1 %>
				<% var flag_artist=1 %>
				<% for (var i=0; i<artists.length; i++) { %>
					<% if(spinner_artist == 1) { %>
						<% if (flag_artist == 1) { %>
							<div class="item active">
							<div class="row">
						<% } else { %>
							<div class="item">
							<div class="row">
						<% } %>
		
						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= artists[i].name %>/0"><img src="<%= artists[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= artists[i].name %>/0"><h4><%= artists[i].name %></h4></a>
						</div>	

					<% } else if(spinner_artist == 4) { %>
						<% spinner_artist=0 %>
<!-- 	
	for resizing, but non-streched use:
     	img-responsive 

	for fixed but streched use:
	soundslike-link-image

	in <img src="">
-->	
						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= artists[i].name %>/0"><img src="<%= artists[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= artists[i].name %>/0"><h4><%= artists[i].name %></h4></a>
                            			</div>
	
						</div>
						</div>

					<% } else { %>

						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= artists[i].name %>/0"><img src="<%= artists[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= artists[i].name %>/0"><h4><%= artists[i].name %></h4></a>	
						</div>
						
					<% } %>
					<% if(i == (artists.length-1)) { %>
						</div>
						</div>
					<% } %>

					<% spinner_artist=spinner_artist+1 %>
					<% flag_artist=flag_artist+1 %>
				
				<% } %>
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#carousel-artists" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>

                <a class="right carousel-control" href="#carousel-artists" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            <!--/Carousel-->
        </div>
        <!--/well-->
    </div>
</div>
<!-- end ARTISTS -->

<!-- begin ALBUMS -->
<div class="container ">
    <div class="col-md-12">
        <h4>Albums</h4>
        <div class="well">
            <div id="carousel-albums" class="carousel slide" data-interval="false">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                   		<% var spinner_albums=1 %>
				<% var flag_albums=1 %>
				<% for (var i=0; i<albums.length; i++) { %>
					<% if(spinner_albums == 1) { %>
						<% if (flag_albums == 1) { %>
							<div class="item active">
							<div class="row">
						<% } else { %>
							<div class="item">
							<div class="row">
						<% } %>
		
						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= albums[i].name %>/1"><img src="<%= albums[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= albums[i].name %>/1"><h4><%= albums[i].name %></h4></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= albums[i].parent %>/0"><h5><%= albums[i].parent %></h5></a>	
						</div>	

					<% } else if(spinner_albums == 4) { %>
						<% spinner_albums=0 %>
					
						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= albums[i].name %>/1"><img src="<%= albums[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= albums[i].name %>/1"><h4><%= albums[i].name %></h4></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= albums[i].parent %>/0"><h5><%= albums[i].parent %></h5></a>
                            			</div>
	
						</div>
						</div>

					<% } else { %>

						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= albums[i].name %>/1"><img src="<%= albums[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= albums[i].name %>/1"><h4><%= albums[i].name %></h4></a>	
						<a class="soundslike-link-text" href="/api/db/content/<%= albums[i].parent %>/0"><h5><%= albums[i].parent %></h5></a>
						</div>
						
					<% } %>
					<% if(i == (albums.length-1)) { %>
						</div>
						</div>
					<% } %>

					<% spinner_albums=spinner_albums+1 %>
					<% flag_albums=flag_albums+1 %>
				
				<% } %>
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#carousel-albums" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>

                <a class="right carousel-control" href="#carousel-albums" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            <!--/Carousel-->
        </div>
        <!--/well-->
    </div>
</div>
<!-- end ALBUMS -->


<!-- begin TRACKS -->
<div class="container ">
    <div class="col-md-12">
        <h4>Tracks</h4>
        <div class="well">
            <div id="carousel-tracks" class="carousel slide" data-interval="false">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                   		<% var spinner_tracks=1 %>
				<% var flag_tracks=1 %>
				<% for (var i=0; i<tracks.length; i++) { %>
					<% if(spinner_tracks == 1) { %>
						<% if (flag_tracks == 1) { %>
							<div class="item active">
							<div class="row">
						<% } else { %>
							<div class="item">
							<div class="row">
						<% } %>
		
						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= tracks[i].name %>/2"><img src="<%= tracks[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].name %>/2"><h4><%= tracks[i].name %></h4></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].parent %>/1"><h5><%= tracks[i].album %></h5></a>	
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].grandparent %>/0"><h6><%= tracks[i].artist %></h6></a>
						</div>	

					<% } else if(spinner_tracks == 4) { %>
						<% spinner_tracks=0 %>
					
						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= tracks[i].name %>/2"><img src="<%= tracks[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].name %>/2"><h4><%= tracks[i].name %></h4></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].parent %>/1"><h5><%= tracks[i].album %></h5></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].grandparent %>/0"><h6><%= tracks[i].artist %></h6></a>
                            			</div>
	
						</div>
						</div>

					<% } else { %>

						<div class="col-sm-3"><a class="soundslike-link-image" href="/api/db/content/<%= tracks[i].name %>/2"><img src="<%= tracks[i].picture %>" alt="Image" class="img-responsive"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].name %>/2"><h4><%= tracks[i].name %></h4></a>	
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].parent %>/1"><h5><%= tracks[i].album %></h5></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= tracks[i].grandparent %>/0"><h6><%= tracks[i].artist %></h6></a>
						</div>
						
					<% } %>
					<% if(i == (tracks.length-1)) { %>
						</div>
						</div>
					<% } %>

					<% spinner_tracks=spinner_tracks+1 %>
					<% flag_tracks=flag_tracks+1 %>
				
				<% } %>
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#carousel-tracks" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>

                <a class="right carousel-control" href="#carousel-tracks" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            <!--/Carousel-->
        </div>
        <!--/well-->
    </div>
</div>
<!-- end TRACKS -->



	</div>
	</div>

	<script type="text/javascript" src="/js/ejs_production.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
