<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Soundslike - Track</title>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/soundslike.css" rel="stylesheet">
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
 			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Soundslike</a>
	</div>
	<div class="collapse navbar-collapse">
		<form class="navbar-form navbar-right" action="/results" method="post">
            		<div class="form-group">
              			<input type="text" placeholder="Search" class="form-control" id="srch" name="srch">
            		</div>
            		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          	</form>
		<ul class="nav navbar-nav pull-right">
			<li><a href="/addartist">Add</a></li>
			<li><a href="/auth/google">
				<% if (typeof login !== "undefined") { %>
					<%= login %>
				<% } else { %>
					<%= "Sign in" %>
				<%}%></a></li>
		</ul>
	</div>
	</div>
	</div>

	<div> 
	<div class="media-container">
		<div class="artist-header-container">
			<div class="artist-image-container">
				<img class="album-profile-image" src="<%= picture %>"> 
			</div>			
			<div class="artist-info-text">
				<span class="album-header-text-size"><%= name %></span><br>
				<a class="soundslike-link-text" href="/api/db/content/<%= parent %>/1"><span class="album-header-text-size-artist"><%= parent %></span><br></a>
				<a class="soundslike-link-text" href="/api/db/content/<%= grandparent %>/0"><span class="album-header-text-size-artist"><%= grandparent %></span><br></a>
				<form action="/api/db/content/link/2" method="post">	
					<input type="hidden" name="key1" id="key1" value="<%= name %>">	
					<button class="btn btn-soundslike" type="submit">Soundslike</button>
				</form>
			</div> 
		</div>

		<div class="soundslike-container">
			<span class="soundslike-title">Sounds Like</span>
				<% for (var i = 0; i < soundslike.length; i++) { %>
					<div class="soundslike-item-container">
						<a class="soundslike-link-image" href="/api/db/content/<%= soundslike[i].name %>/2"><img class="soundslike-item-image" src="<%= soundslike[i].picture %>"></a>
						<a class="soundslike-link-text" href="/api/db/content/<%= soundslike[i].name %>/2"><span class="soundslike-item-title-artist"><%= soundslike[i].name %></span></a><br>
					</div>
				<% } %>	
		</div>

	</div>
	</div>

	<script type="text/javascript" src="/js/ejs_production.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
